class Secrets(object):
  AKISMET_API_KEY = '--key-here--'
  EMAIL_FROM = 'Your Name <your@email.com>'
  ADMIN_NAME = 'Your name'
  ADMIN_EMAIL = 'your@email.com'
  EMAIL_USER = 'your@email.com'
  EMAIL_PASSWORD = 'your-password'
  SMTP_SERVER = 'smtp.your-server.com'
  SMTP_PORT = 25
  SMTP_OVER_TLS = True
  SECRET_KEY = 'Some secret key'
  DEBUG = True

