{% extends "base.html" %}

{#{% load markup %}#}
{#{% load mytags %}#}

{% block title %} Administer NewsItem {% endblock %}
{% block pagetitle %}Brian R. Bondy - {{pagetitle}}{% endblock %}
{% block subtitle %} Title: Admin News Item {% endblock %}
{% block body_id %}body_blog{% endblock %}

{% block main_content %}

<script type="text/javascript">
  var newsItemId = {{news_item_id}}
  require(['adminNewsItem'], function() {
  });
</script>

<div id="news-item-form"/>

{% endblock %}
