{% extends "base.html" %}

{#{% load markup %}#}
{#{% load mytags %}#}

{% block title %} Administer NewsItems {% endblock %}
{% block pagetitle %}Brian R. Bondy - {{pagetitle}}{% endblock %}
{% block subtitle %} I hope you are Brian R. Bondy! {% endblock %}
{% block body_id %}body_blog{% endblock %}

{% block main_content %}

<a href='add'>Add New</a>


<script type="text/javascript">
  require(['jsx!adminNewsItems'], function() {
  });
</script>

<div id="news-items"/>

{% endblock %}
