{% extends "base.html" %}
{% block pagetitle %}Brian R. Bondy - About{% endblock %}
{% block title %} About {% endblock %}
{% block subtitle %}My story so far...{% endblock %}
{% block body_id %}body_about{% endblock %}

{% block main_content %}
<h2>General Information</h2>
<div class='bold-divider'></div>
<p>

<img src="/static/img/family.jpg" style="float:left; margin-right:30px;" width="179" height="268" />

<p>
I live in Windsor, Ontario, Canada where I lived (other than University) since I was born on March 01, 1981.
</p>

<p>I spend most of my time reading various books, programming, and doing work. My greatest fields of interest are P2P, digital image processing, number theory, compression, and changing diapers.  
</p>

<p> I am a primarily a C++, C#, Python, and JavaScript software developer.</p>

<p>
Other than work and geek things, I also spend a lot of time with my wife Shannon, and 3 sons: Link, Ronnie, and Asher.
</p>

<p>
I used to work full time on Mozilla's Fireofx browser (2011-2014), I remain a Mozilla community member and contributor (Mozillian)
</p>
<p>
As of April 21, 2014 I work full time for an amazing company called Khan Academy.
</p>
<br><br>

<h2>Facts about me</h2>
<div class='bold-divider'></div>
<p>
    <img src="/static/img/brian-ronnie.jpg" width="219" height="476" style="float:right; margin-left:30px;" />

<ul>
<li>I drink a lot of coffee and usually spill it on myself</li>
<li>I'm married to the beautiful Shannon L. Bondy (Formerly Gray)</li>
<li>I have twin and one singleton, all boys</li>
<li>I have a red tri-colored border collie named "Leia". (and yes that's after Star Wars)</li>
<li>I have a bachelors degree in Computer Science Honors in the Faculty of Mathematics at Waterloo University</li>
<li>I have a black belt (Shodan) in Meibukan Goju Ryu Karate</li>
<li>I work on Firefox and love it</li>
<li>My favorite teacher is <a href='http://en.wikipedia.org/wiki/Salman_Khan_(educator)'>Salman Khan</a>, and I plan to learn for life from his teachings on every subject</li>
<li>My favorite music artist is Ray Charles<LI>My favorite movies are Braveheart, The Last Samurai, Ray</li>
<li>My favorite T.V. shows are&nbsp;Futurama, Family Guy, South Park, Simpsons, 
 Tudors, Apprentice, and Survivor</li>
<li>My favorite place to go for a nice meal is the Red Sun - Chinese food<LI>My favorite coffee shop is Tim Hortons</li>
<li>My favorite plays are&nbsp;Phantom of the Opera, and Les Miserables<LI>I have two cats named "Sophie" and "Lil" (and we found out Lil was really a boy after a year of thinking he was a girl with the name Lillie)</li>

<li>I was born on March 01, 1981</li>
<li>I was born and raised on a farm.  I'm convinced that I'm a hard worker because of that.</li>
<li>I'm a home body, but I do like to go out.&nbsp; I'd love to do constructive things with my time.</li>
<li>I love to learn.&nbsp; If I'm not learning, then I lose interest quick.&nbsp; I need to be challenged.</li>
<li>I have ownership <strike>in 2 companies which I co-founded: ROBOBAK and VisionWorks Solutions Inc.</strike> in the company that acquired ROBOBAK</li> 
<li>I was awarded a <a href="http://goo.gl/7KZGk">Microsoft MVP</a> award for Visual C++ July 2010 - July 2011</li>  
<li>It is a dream of mine to one day be a winner of the <a href="http://prize.hutter1.net/">Hutter Prize</a></li>
</ul>
</p>
{% endblock %}

