{% extends "other.html" %}
{% block title %} Articles {% endblock %}
{% block pagetitle %}Other - Articles{% endblock %}
{% block subtitle %} Some random writing I've done in the past {% endblock %}

<li><a href="" title="">NullShare</a></li></a></li>

{% block main_content %}
<h2>What is this section?</h2>
<div class='bold-divider'></div>
<p>
This section of my page will be used for mini tutorials and in general questions that I've been asked before, and want to answer.
It will have articles/posts for many different levels of computer users, as well as interest types.

<h2>Computer science articles/posts</h2>
<div class='bold-divider'></div>
<p>
<ul>

<li>  <strong>Article:</strong> Understanding GIF Decoding [<a href="/static/downloads/articles/gif.doc">doc</a>]<br/>
      <strong>Covered topics:</strong> GIF, Adaptive LZW decompression<br/>
      <strong>Description:</strong> An analysis of GIF decompression along with examples and samples.<br/>
      <strong>For who:</strong> Anyone that wants to learn about how the GIF decoding works.
</li>

<li>  <strong>Article:</strong> Information Reuse in Multiple Forms: [<a href="/static/downloads/articles/XML.pdf">pdf</a>]<br/>
      <strong>Covered topics:</strong> XML, XSLT, CSS, XSL-FO and more<br/>
      <strong>Description:</strong> An analysis of the above technologies and how they fit into today's workforce.<br/>
      <strong>For who:</strong> Anyone that wants to waste some time.
</li>

<li>  <strong>Article:</strong> PPM, PGM, PBM File Formats: [<a href="/static/downloads/articles/ppm.doc">doc</a>]<br/>
      <strong>Covered topics:</strong> PPM, PGM, PBM<br/>
      <strong>Description:</strong> A description of the above file formats<br/>
      <strong>For who:</strong> Anyone that wants to have support in their product for these file types.
</li>

<li>  <strong>Article:</strong> FTP Analysis and Suggestions: [<a href="/static/downloads/articles/ftpAnalysis.doc">doc</a>]<br/>
      <strong>Covered topics:</strong> FTP, FTPS<br/>
      <strong>Description:</strong> A description of useful ways to improve the FTP protocol<br/>
      <strong>For who:</strong> Anyone that wants to waste more time
</li>
</ul>

</p>

{% endblock %}
