<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/rss/" />
<link href="/static/prettify/prettify.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="/static/prettify/prettify.js"></script>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>

<title>Brian R. Bondy</title> 
<style type="text/css">
@import url("/static/css/style-min.css");
</style></head>

<body id="{% block body_id %}default_body_id{% endblock %}" class="thrColFixHdr">

<div id="container">

  {% block extra_div %}
  {% endblock %}
   <div id="mainContent">
    <h1>{% block title %} {% endblock %}</h1>

{% block main_content %}
{% endblock %}

</div>
<br class="clearfloat" />
</div>
</div>

<div style='float:left;clear:both;' id="footer_container">
</div>
</body>
</html>
