<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="google-site-verification" content="q3ucTZ-sp9vjrvmC4W6sA6-Lb9LGxqs2101RE8wGSic" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js" data-main="/static/js/app.js?v=4">
</script>
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/rss/" />
<link rel="shortcut icon" href="/favicon.ico" />
<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet' />

<title>{% block pagetitle %}Brian R. Bondy{% endblock %}</title> 
<style type="text/css">
@import url("/static/css/style8.css?v=3");
</style>

{% block extra_head %}{% endblock %}

</head>

<body id="{% block body_id %}default_body_id{% endblock %}">

<div id="container">
  <div id="header">
    <span id='header-text'>Brian R. Bondy</span>
    <span id='header-media-icons'>

    <a href='http://stackoverflow.com/users/3153/brian-r-bondy'>
      <i class='fa fa-stack-overflow' title='Stack Overflow profile'></i>
    </a>

    <a href='https://bugzilla.mozilla.org/buglist.cgi?list_id=3095352;resolution=FIXED;emailtype1=exact;emailassigned_to1=1;query_format=advanced;bug_status=RESOLVED;bug_status=VERIFIED;bug_status=CLOSED;email1=netzen%40gmail.com'>
      <i class='fa fa-bug' title='Firefox contributions'></i>
    </a>
     
    <a href='https://www.youtube.com/user/bbondy'>
      <i class='fa fa-youtube-play' title='YouTube channel'></i>
    </a>
    <a href='https://github.com/bbondy'>
      <i class='fa fa-github' title='GitHub profile'></i>
    </a>

    <a href='https://www.khanacademy.org/profile/bbondy/'>
      <i class='fa fa-leaf' title='Khan Academy profile'></i>
    </a>

    <a href='http://ca.linkedin.com/in/bbondy'>
      <i class='fa fa-linkedin' title='Linked in profile'></i>
    </a>

    <a href='/feeds/rss/'>
      <i class='fa fa-rss' title='RSS feed for this site'></i>
    </a>

    <a href='https://twitter.com/brianbondy'>
      <i class='fa fa-twitter' title='@brianbondy'></i>
    </a>
  </span>

  </div>
</div>

<div id="dolphincontainer">
  <div id="dolphinnav">
  <ul id="dolphinnav-ul">
    <li class="dolphinnav-ul-li"><a href="/" title="" id="dolphinnav_blog"><span>BLOG</span></a></li>
    <li class="dolphinnav-ul-li"><a href="/projects/" title="" id="dolphinnav_projects"><span>PROJECTS</span></a></li>
    <li class="dolphinnav-ul-li"><a href="/resume/" title="" id="dolphinnav_resume"><span>RESUME</span></a></li>
    <li class="dolphinnav-ul-li"><a href="/other/" title="" id="dolphinnav_other"><span>OTHER</span></a></li>
    <li class="dolphinnav-ul-li"><a href="/about/" title="" id="dolphinnav_about"><span>ABOUT</span></a></li>
    <li class="dolphinnav-ul-li"><a href="/contact/" title="" id="dolphinnav_contact"><span>CONTACT</span></a></li>
  </ul>
  </div>
</div>
<div id="container2">

  {% block extra_div %}
  {% endblock %}

  {% block extra_div2 %}
  {% endblock %}

   <div id="mainContent">
    <h1>{% block title %} {% endblock %}</h1>

{% block main_content %}

          <h2>Post Title</h2>
          <div class='bold-divider'></div>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. In elementum gravida tellus. Duis ultricies felis sed nulla. Suspendisse tristique quam vel massa. Praesent vitae eros. Vestibulum nec dui. Fusce quis arcu at erat dignissim bibendum. Nullam lacus enim, tempor non, rhoncus non, luctus id, eros. Proin euismod. Sed ornare odio ut turpis. Curabitur consectetuer ante non risus. Nullam eleifend diam vitae tortor. In neque tortor, placerat et, vestibulum nec, aliquet eget, turpis. Morbi venenatis imperdiet risus. Maecenas sed sem. Ut malesuada tristique velit. Nam at arcu a eros facilisis nonummy. Ut ultricies erat et enim. Proin libero.</p>

{% endblock %}

    </div>
  <br class="clearfloat" />
</div>
</div>

<div style='float:left;clear:both;' id="footer_container">
<div id="footer">
  <p>©  Copyright Brian R. Bondy</p>
  <!-- end #footer -->
    </div>
    </div>

{% block extra_body %}{% endblock %}

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-575471-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>

