{% extends "other.html" %}
{% block pagetitle %}Brian R. Bondy - Braille{% endblock %}
{% block title %} Other - Braille{% endblock %}
{% block subtitle %}dot, dot, dot, no dot, no dot, dot{% endblock %}

{% block main_content %}
<h2>Braille Information</h2>
<div class='bold-divider'></div>
<p>
Braille was invented by Louis Braille who was born in 1809 and lost his sight when he was 6.  
</p>

<p>
Braille gives the blind the ability to read and do mathematics. 
</p>


<h2>How Braille works</h2>
<div class='bold-divider'></div>
<p>

Braille consists of a series of raised dots. A braille cell consists of a '3 row x 2 column' grid. Anyone of these 6 dots can be raised to form different combinations. These combinations are interpreted to mean different characters, numbers, or groups of characters. There are 2^6 - 1 different possible symbols.  This is only 63, however some braille codes can be used in combination to form others making the possibilities endless.
</p>

<p>
One of my favorite composers Ray Charles, was blind at the age of 7.
</p>

<h2>Why I care?</h2>
<div class='bold-divider'></div>
<p>
I've always been interested in different ways to represent things, and different methods of communication.
</p>

<p>
For example, in my projects section I have a project on steganography (encoding data into normal images by using pixel color variations). 
</p>

<h2>Braille Alphabet</h2>
<div class='bold-divider'></div>

<p>
In level 1 braille every letter has it's own braille code.
</p>

<p>

<TABLE id="Braille-Alphabet" width="100%" align="left" valign="top" style='padding-bottom:15px;'>

<TR>
  <TD>a<IMG src="/static/img/braille/a.gif"></TD>
  <TD>b<IMG src="/static/img/braille/b.gif"></TD>
</TR>
<TR>
  <TD>c<IMG src="/static/img/braille/c.gif"></TD>
  <TD>d<IMG src="/static/img/braille/d.gif"></TD>

</TR>
<TR>
  <TD>e<IMG src="/static/img/braille/e.gif"></TD>
  <TD>f<IMG src="/static/img/braille/f.gif"></TD>
</TR>
<TR>
  <TD>g<IMG src="/static/img/braille/g.gif"></TD>
  <TD>h<IMG src="/static/img/braille/h.gif"></TD>
</TR>
<TR>
  <TD>i<IMG src="/static/img/braille/i.gif"></TD>
  <TD>j<IMG src="/static/img/braille/j.gif"></TD>
</TR>
<TR>
  <TD>k<IMG src="/static/img/braille/k.gif"></TD>
  <TD>l<IMG src="/static/img/braille/l.gif"></TD>
</TR>
<TR>
  <TD>m<IMG src="/static/img/braille/m.gif"></TD>
  <TD>n<IMG src="/static/img/braille/n.gif"></TD>
</TR>
<TR>
  <TD>o<IMG src="/static/img/braille/o.gif"></TD>
  <TD>p<IMG src="/static/img/braille/p.gif"></TD>
</TR>
<TR>
  <TD>q<IMG src="/static/img/braille/q.gif"></TD>
  <TD>r<IMG src="/static/img/braille/r.gif"></TD>
</TR>
<TR>
  <TD>s<IMG src="/static/img/braille/s.gif"></TD>
  <TD>t<IMG src="/static/img/braille/t.gif"></TD>
</TR>
<TR>
  <TD>u<IMG src="/static/img/braille/u.gif"></TD>
  <TD>v<IMG src="/static/img/braille/v.gif"></TD>
</TR>
<TR>
  <TD>w<IMG src="/static/img/braille/w.gif"></TD>
  <TD>x<IMG src="/static/img/braille/x.gif"></TD>
</TR>
<TR>
  <TD>y<IMG src="/static/img/braille/y.gif"></TD>
  <TD>z<IMG src="/static/img/braille/z.gif"></TD>
</TR>
</TABLE>
</p>

<h2>Braille Numbers</h2>
<div class='bold-divider'></div>

<p>

Braille numbers are actually the same as the letters. Except they have a 
special braille code that is used before them to signify that they're a number 
instead of a letter. 1 is a, 2 is b, 3 is c, ... , and 0 is j
</p>
<p>

<TABLE id="Braille-Numbers" width="100%" align="left" valign="top" style='padding-bottom:15px;'>
<TR>
  <TD>0<IMG src="/static/img/braille/0.gif"></TD>
  <TD>1<IMG src="/static/img/braille/1.gif"></TD>
</TR>
<TR>
  <TD>2<IMG src="/static/img/braille/2.gif"></TD>
  <TD>3<IMG src="/static/img/braille/3.gif"></TD>
</TR>
<TR>
  <TD>4<IMG src="/static/img/braille/4.gif"></TD>
  <TD>5<IMG src="/static/img/braille/5.gif"></TD>
</TR>
<TR>
  <TD>6<IMG src="/static/img/braille/6.gif"></TD>
  <TD>7<IMG src="/static/img/braille/7.gif"></TD>
</TR>
<TR>
  <TD>8<IMG src="/static/img/braille/8.gif"></TD>
  <TD>9<IMG src="/static/img/braille/9.gif"></TD>
</TR>
</TABLE>
</p>

{% endblock %}
