{% extends "base.html" %}

{% block title %} Contact {% endblock %}
{% block pagetitle %}Brian R. Bondy - Contact{% endblock %}
{% block subtitle %} Your feedback and comments are welcome {% endblock %}
{% block body_id %}body_contact{% endblock %}

{% block main_content %}
<h2>How to get in touch with me</h2>
<div class='bold-divider'></div>
<p>
Contact me at bbondy [at] gmail.com or message me on twitter <a href='https://twitter.com/brianbondy'>@brianbondy</a>.
</p>

{% endblock %}
