{% extends "other.html" %}
{% block title %} Frequently Asked Questions {% endblock %}
{% block pagetitle %}Other - FAQ{% endblock %}
{% block subtitle %} And not so frequent asked ones too{% endblock %}

{% block main_content %}
<h2>How to get in touch with me</h2>
<div class='bold-divider'></div>
<p>
<ul>
<li><strong>Why do you bother with this site?</strong><br>
I like to write and I want to have an online presence. 
</li>

<li><strong>How many people visit your site?</strong><br> 
I have no idea, probably not that many.</li>

<li><strong>What are your biggest interests?</strong><br>
I love reading and working on computer science related projects.  I go into this a little more in the about me section.</li>

<li><strong>Why did you learn braille?</strong><br>
I've also always been interested in different ways to interpret data. This is a great example that is widely in use.
</li>

<li><strong>Why don't you update your site often?</strong><br>
Mainly because I'm too busy. If I had the time I would.  Stay tuned... maybe I'll be less busy soon.</li>

<li><strong>Why are there so many spelling and grammar errors on your page?</strong><br> 
Because you haven't reported them to me yet.  See the contact me page.</li>

<li><strong>Why is your F.A.Q so short?</strong><br> 
Because with so few visitors I don't exactly have frequently asked questions. 
</li>
</ul>
</p>

{% endblock %}
