{% extends "math.html" %}
{% block title %} Mathematics - Graph theory {% endblock %}
{% block pagetitle %}Brian R. Bondy - Graph theory{% endblock %}
{% block subtitle %}The study of vertices and their edges{% endblock %}

{% block main_content %}

<h2>What is graph theory?</h2>
<div class='bold-divider'></div>
<p>
Graph theory is of particular interest to both mathematics and computer science.  
</p>
<p>

Graph theory is the study of graphs.  A graph is a collection of nodes or vertices and edges which connect those vertices together. 
</p>

{% endblock %}
