{% extends "base.html" %}

{#{% load markup %} #}
{#{% load mytags %}#}

{% block title %} {#pagetitle#} {% endblock %}
{% block pagetitle %}Brian R. Bondy - {#pagetitle#}{% endblock %}
{% block subtitle %}{% endblock %}
{% block body_id %}body_blog{% endblock %}

{% block extra_head %}
<script type="text/javascript">
  var newsItemId = {{news_item_id}};
  var page = {{page}};
  var count = {{count}};
  var tag = '{{tag}}';
  var drafts = !!{{drafts|int}};
  var recentlyModified = !!{{recently_modified|int}};
  var year = {{year}};
  require(['jsx!newsItems'], function() {
    $(document.body).load(function () {
      $(".comments").slideUp();
    });

    function styleCode()
    {
    $("pre code").parent().each(
      function() {
        if(!$(this).hasClass("prettyprint")) {
          $(this).addClass("prettyprint");
          prettyPrint();
        }
      });
    }

    function toggleAddComment(newsID)
    {
      $("#AddComment-" + newsID).slideToggle();
      $("#Comments-" + newsID).slideUp();
    }

    function toggleComments(newsID)
    {
      $("#Comments-" + newsID).slideToggle();
      $("#AddComment-" + newsID).slideUp();
    }

    $('#tags-link').click(function() {
      toggleTags();
    });

    function toggleTags()
    {
      $("#sidebar3").slideToggle();
      if($("#tag-label").text().indexOf(">>") != -1)
        $("#tag-label").text($("#tag-label").text().replace(">>", "<<"));
      else
        $("#tag-label").text($("#tag-label").text().replace("<<", ">>"));
      return false;
    }
  });
</script>

{% endblock %}

{% block main_content %}

<div id="news-items">
</div>

{% if prev_url %}
  <a href='{{prev_url}}'><span class='navigation_button'>Prev page</span></a>
{% endif %}

{% if next_url %}
  <a href='{{next_url}}'><span class='navigation_button'>Next page</span></a>
{% endif %}

</div>


{% endblock %}

{% block extra_div %}
<div id="sidebar2"> 

<ul>
  <li><a href="/blog/posted/recent" title="" class="current">Recently posted</a></li>
  <li><a href="/blog/modified/recent" title="" class="current">Recently modified</a></li>

{% for archive_entry in archive_list %}
  <li><a href="/blog/posted/{{archive_entry}}/" title="" class="current">{{archive_entry}}</a></li>
{% endfor %}

</ul> 

<div id="tag-label-container">
<a id="tags-link" href="#"><span id="tag-label">Tags &gt;&gt;</a>

</div>

<div id="sidebar3" style="display:none;">

<ul>
{% for tag in tag_list %}
{% if tag.1 %}
<li>

<a href="/blog/tagged/{{tag.0|escape}}/" 
   class="post-tag" 
   rel="tag">{{tag.0}}</a> 
<a href="/blog/tagged/{{tag.0|escape}}/">x {{tag.1}}</a>
</li>
{% endif %}
{% endfor %}
</ul>
</div>

</div>

{% endblock %}





