{% extends "other.html" %}
{% block title %} Links {% endblock %}
{% block pagetitle %}Other - Links{% endblock %}
{% block subtitle %} Links that I find interesting {% endblock %}

{% block main_content %}
<h2>Broken links?</h2>
<div class='bold-divider'></div>
<p>Please report any broken links to brianb [at] vwsolutions.com</p>

<h2>Suggest a URL</h2>
<div class='bold-divider'></div>
<p>Want to suggest a URL?&nbsp; Paste it below:
<br />

<h2>Tutorial sites</h2>
<div class='bold-divider'></div>

<p>
<ul>
  <li><a href="http://diveintohtml5.org/">HTML5 tutorial</a></li>
  <li><a href="http://msdn.microsoft.com">MSDN help files</a></li>
</ul>

<h2>Astronomy sites</h2>
<div class='bold-divider'></div>
<ul>
  <li><a href="http://www.nasa.gov">NASA</a></li>
  <li><a href="http://www.space.com">space.com</a></li>
  <li><a href="http://setiathome.ssl.berkeley.edu">SETI@HOME</a></li>
</ul>

<h2>Computer Science related sites</h2>
<div class='bold-divider'></div>
<ul>
  <li><a href="http://www.trolltech.com">Trolltech - Makers of the amazing Qt</a>
  <li><a href="http://www.wotsit.org/">Just about every file format explained </a></li>
  <li><a href="http://www.math.uwaterloo.ca/mfcf/documentation/index.html">Misc UWaterloo tutorials</a></li>
  <li><a href="http://www.w3c.org">W3C - The people who define web standards</a></li>
  <li><a href="http://www.mozilla.org">Makers of the best internet browsers and related tools on the net</a></li>
  <li><a href="http://www.cs.uwaterloo.ca">University of Waterloo Computer Science</a></li>
  <li><a href="http://www.kevinwarwick.com">Kevin Warwick - The cyborg behind the man</a></li>
</ul>

<h2>Misc sites</h2>
<div class='bold-divider'></div>
<ul>
  <li><a href="http://www.slashdot.org">Slashdot - News for nerds</a></li>
  <li><a href="http://www.oreilly.com">O'Reilly - My favorite book publisher</a></li>
  <li><a href="http://www.dictionary.com">Online dictionary</a></li>
  <li><a href="http://www.howstuffworks.com/">How Stuff Works - answers to anything and everything</a></li>
  <li><a href="http://www.chapters.ca">Chapters - Online book store</a></li>
  <li><a href="http://www.amazon.ca">Amazon - Online book store</a></li>
  <li><a href="http://www.bored.com">A good site if you're bored</a></li>
  <li><a href="http://www.expectnothing.com">Expect Nothing - Misc news and rants</a></li>
  <li><a href="http://www.blizzard.com">Blizzard - My favorite gaming company</a></li>
  <li><a href="http://www.southparka.com">Up to date South Park episodes</a></li>
</ul>

{% endblock %}
