{% extends "base.html" %}
{% block title %} Mathematics {% endblock %}
{% block pagetitle %}Brian R. Bondy - Mathematics{% endblock %}
{% block subtitle %}d/dx (e^x) = e^x{% endblock %}
{% block body_id %}body_math{% endblock %}

{% block extra_div %}
<div id="sidebar2">
  <ul>
    <li><a href="/math/" title="" class="current">Main</a></li>
    <li><a href="/math/pi/" title="">Pi</a></li>
    <li><a href="/math/primes/" title="">Primes</a></li>
    <li><a href="/math/numberTheory/" title="">Number Theory</a></li>
    <li><a href="/math/graphTheory/" title="">Graph Theory</a></li>
    <li><a href="/math/mathTricks/" title="">Math Tricks</a></li>
  </ul> 
</div>
{% endblock %}

{% block main_content %}

<h2>Mathematics</h2>
<div class='bold-divider'></div>
<p>
Above any other topic, mathematics has always been my favorite.  It was the only subject which had absolute truth.  Everything with math is a fact, and can be proven.  If it is not a fact, it is clearly indicated and labeled so, and is pending a proof discovery.  
</p>
<p>
Unlike all kinds of science, if something is true one day with math, it will be true forever.  Unlike the study of languages, there are no special exceptions in math where the rules do not apply.  Unlike religion there is no faith associated with the existence of any math rules.   Math is pure, logical, beautiful and always makes sense. 
</p>
Learning the proof how something works is amazing.  By studying proofs you can almost always learn more and learn new techniques for future proofs.  Because you learn exactly why something works the way it does.
</p>

{% endblock %}
