<html>
  <head>
    <script src="/static/js/maze/timer.js" charset="utf-8"></script>
    <script src="/static/js/maze/sprite.js" charset="utf-8"></script>
    <script src="/static/js/maze/maze.js"></script>
    <style>
      html {
        height: 100%;
        overflow: hidden;
      }
      body { 
        margin: 0px;
        padding: 0px;
        height: 100%; 
      }
    </style>
  </head>
  <body>
    <canvas id="canvas">Canvas is not supported by your browser.</canvas>
  </body>
</html>
