{% extends "base.html" %}
{% block title %} Mozilla {% endblock %}
{% block pagetitle %}Brian R. Bondy - Mozilla {% endblock %}
{% block subtitle %} Firefox, XUL, XBL, XPCOM, Javascript, CSS, ...{% endblock %}
{% block body_id %}body_mozilla{% endblock %}

{% block extra_div %}
<div id="sidebar2">
  <ul>
    <li><a href="/mozilla/" title="" class="current">Main</a></li>
    <li><a href="http://codefirefox.com/" title="">Code Firefox</a></li>
    <li><a href="http://codefirefox.com/cheatsheet" title="">Cheat Sheet</a></li>
    <li><a href="/mozilla/new/" title="">New to Mozilla</a></li>
    <li><a href="/mozilla/xpcom/" title="">XPCOM</a></li>
    <li><a href="/mozilla/xulrunner/" title="">XUL Runner app</a></li>
    <li><a href="/mozilla/extension/" title="">Extension</a></li>
  </ul> 
</div>
{% endblock %}

{% block main_content %}

<h2>Sections</h2>
<div class='bold-divider'></div>
<ul>
<li>
<a href='http://codefirefox.com'>Code Firefox</a>: Videos and exercises taking you through the process of becoming a Mozillian.
</li>
<li>
<a href='http://codefirefox.com/cheatsheet'>Platform Development Cheat Sheet</a>: Common commands and resources used for developing Mozilla related technologies.
</li>
<li>
<a href='/mozilla/new/'>New to Mozilla</a>: Quick tips to get you on your way to becoming a mozillian. 
</li>
<li>
<a href='/mozilla/xpcom/'>XPCOM Tutorial</a>: XPCOM tutorial based on Mozilla 2.0 (and 5.0, 6.0, 7.0, 8.0, 9.0, 10.0) (FF4+).
</li>
<li>
<a href='/mozilla/xulrunner/'>XUL Runner App Tutorial</a>: XUL Runner tutorial based on Mozilla 2.0, (and 5.0, 6.0, 7.0, 8.0, 9.0, 10.0) (FF4+).
</li>
<li>
<a href='/mozilla/extension/'>Extension Tutorial</a>: A tutorial on how extensions work specifically with Mozilla 2.0, (and 5.0, 6.0, 7.0, 8.0, 9.0, 10.0) (FF4+).
</li>
</ul>
{% endblock %}
