{% extends "math.html" %}
{% block title %} Mathematics - Number theory {% endblock %}
{% block pagetitle %}Brian R. Bondy - Number theory{% endblock %}
{% block subtitle %}e^(pi*i) = -1, seriously?{% endblock %}

{% block main_content %}

<h2>What is number theory?</h2>
<div class='bold-divider'></div>
<p>
Number theory is the branch of mathematics which studies the properties and theories relating to whole numbers. 
</p>
<p>Some topics in number theory include factorization, modular arithmetic, diophantine equations, primes, and much more.
</p>

{% endblock %}
