{% extends "base.html" %}
{% block title %} Other {% endblock %}
{% block pagetitle %}Brian R. Bondy - Other{% endblock %}
{% block subtitle %} The land of misfit pages that don't quite fit anywhere else {% endblock %}
{% block body_id %}body_other{% endblock %}

{% block extra_div %}
<div id="sidebar2">
<ul>
<li><a href="/other/advice/">Advice</a></li>
<li><a href="/other/articles/">Articles</a></li>
<li><a href="/other/books/">Books</a></li>
<li><a href="/other/braille/">Braille</a></li>
<li><a href="/compression/">Compression</a></li>
<li><a href="/other/faq/">F.A.Q.</a></li>
<li><a href="/khanacademy">Khan Academy</a></li>
<li><a href="/other/links/">Links</a></li>
<li><a href="/math/">Mathematics</a></li>
<li><a href="/other/morseCode/">Morse Code</a></li>
<li><a href="/mozilla">Mozilla</a></li>
<li><a href="/stackexchange">Stack Exchange</a></li>
<li><a href="/other/universityClasses/">University Classes</a></li>
<li><a href="/other/whatsMyIP/">What's my IP</a></li>
</ul>
</div>
{% endblock %}

{% block main_content %}
<h2>Unrelated topics</h2>
<div class='bold-divider'></div>
<p>
Select from the list of unrelated topics on the right hand side. 
</p>
{% endblock %}
