<h2>Objective</h2>
<div class='bold-divider'></div>
<p>
To learn from others and help others reach their goals
</p>

<h2>Profiles</h2>
<div class='bold-divider'></div>
<ul>
<li>Github: <a href='https://github.com/bbondy'><br>https://github.com/bbondy</a></li>
<li>Stackoverflow: (Top 0.01%)<br/><a href="http://stackoverflow.com/users/3153/brian-r-bondy">http://stackoverflow.com/users/3153/brian-r-bondy</a></li>
<li>Microsoft MVP (For Visual C++ July 2010 - July 2011):
<li>Khan Academy<br><a href='https://www.khanacademy.org/profile/bbondy/'>https://www.khanacademy.org/profile/bbondy/</a></li>
<li>Social:<br>
Blog: <a href='http://www.brianbondy.com'>http://www.brianbondy.com</a><br>
Twitter: <a href='https://twitter.com/brianbondy'>https://twitter.com/brianbondy</a></li>
Email: bbondy@gmail.com
</ul>

<h2>Experience</h2>
<div class='bold-divider'></div>
<p>
<ul>

<li>
<strong>Favorite Languages and APIs:</strong>
C, expert level C++ (Templates, STL, boost, COM, MFC, Win32 API, OpenGL, Qt...), JavaScript (Node, client side, app development), Python (Django, pyWin32, list comprehensions, modules, packages, ...), C# (Winforms, WPF, Silverlight, WCF, LINQ, Entity Framework, Remote Objects, Generics, Nullable types, Extension methods, ...), F#, SQL, Matlab, Haskell, Scheme
</li>

<li>
<strong>Server Side Development:</strong>
Node,
IIS
(5,6,7,
extensions),
Apache,
CGI,
Google
App
Engine
(Python
GAE
runtime,
Flask,
webapp,
datastore,
transactions,
GQL,
memcache,
administration
console,
bulkdata loaders/exporters, remote API), Django, ASP, ASP .NET, ASP .NET MVC3 (ASPX, Razor), PHP, SOAP, REST ROA, 
template engines (Jade, jinja2)
</li>

<li>
<strong>Front end Development:</strong>
DOM, CSS, Stlyus, JavaScript, jQuery, jQueryUI, Backbone, React, debugging, AJAX, JSON
HTML5
(canvas,
video,
local
storage,
web
workers,
offline
web
applications,
geolocation,
forms,
microdata),
XML
(XPath,
XPointer,
XSLT,
SAX,
DTDs), SVG, MathML
</li>
 

<li>
<strong>Operating Systems:</strong>
OS X, Windows (all client / server, PE), Android, UNIX, Solaris, Linux, BSD, OS X, Windows Phone
</li>
 
<li>
<strong>Source Control:</strong>
Git, Mercurial (hg), Subversion (SVN), CVS, MS Source Safe, database IDEs
</li>

<li>
<strong>IDEs, and Debuggers:</strong>
Vi, Xcode, MS Visual Studio v5, v6, v7, v8 (2005), v9 (2008), v10 (2010), v11, Borland C++ v4.2, GDB
</li>

<li>
<strong>Networking:</strong>
Low level socket programming, UDP, TCP, deep protocol knowledge (HTTP, HTTPS, FTP, FTPS, POP), extensive use of Ethereal.  (Please see the 'Internet Library' project in the 'projects' section below for a full list of implemented protocols)
</li>
 
<li>
<strong>Database:</strong>
MS SQL Server (2000, 2005, 2008, partitions, index design, ...), SQLite, DB2, mySQL, PostgreSQL, Oracle, Corel Paradox, MS Access
</li>
<li>
<strong>Other Software Development Experience:</strong>

ZLIB, libxml2, Image analysis, cryptography, steganography, LZW and Huffman compression, tape drives, CD burning libraries, Windows LAN programming, and creating installers with NSIS.
Static/Shared libraries DLLs/.so, semaphores, Windows Multi threading, pthreads, shared mem, free type lib, Video4Linux

</li>
</ul>
</p>


<h2>Qualities</h2>
<div class='bold-divider'></div>
<p>
<ul>
<li>Ability to work well independently and/or as a member of a team</li>

<li>Adaptable, hard working, reliable, self motivated, and a quick learner</li>

<li>Ability to make projects 'happen' quickly, mentoring, management</li>

<li>Bilingual (English and French)</li>

<li>Have been actively programming for over 20 years</li>
</ul>


<h2>Education</h2>
<div class='bold-divider'></div>
<p>
 
<ul>
<li>
<strong>University of Waterloo: Honours Bachelor of Mathematics in Computer Science</strong><br/>
Waterloo, Ontario, Canada - Aug 2000 through April 2005
<br/>

<br/>

Computer Graphics, Networking, Artificial Intelligence, Operating Systems, Algorithms, Concurrent Programming and Control Structures, Theory of Computation, Data Structures and Data Management, Number Theory, Mathematics of Investment, Statistics and Probability Theory, Combinatorics and Optimization, Logic Math, Calculus, Classical and Linear Algebra
</li>
<li>
<strong>Khan Academy</strong><br/>
Windsor, Ontario, Canada - 2010 through Forever
</li>

</ul>

</p>


<h2>Employment</h2>
<div class='bold-divider'></div>
<p>

<ul>

<li>
<strong>Khan Academy: Senior Engineer</strong>
<br/>
Offsite employee - April 2014 through Present
<ul>
  <li>Developed SQL environment for learning SQL on Khan Academy using emscripten + sqljs + sqlite</li>
  <li>Developed peer based project evaluations for computer science students on KA</li>
  <li>Leaded development on LearnStorm, a bay area 3 month math competition</li>
  <li>Hundreds of fixes, enhancements and patches throughout the tree</li>
</ul>
</li>

<li>
<strong>Mozilla: Senior Firefox Platform Engineer</strong>
<br/>
Offsite employee - July 2011 through April 2014
<ul>
  <li>Working on Firefox and core code across the tree</li>
  <li>Windows 8 Metro Firefox browser</li>
  <li>Installer, silent update, Windows service</li>
  <li>Hundreds of fixes, enhancements and patches throughout the tree</li>
  <li>Languages: C++, JavaScript, Python</li>
</ul>
</li>

<li>
<strong>VisionWorks Solutions Inc: Co-founder, Software Developer</strong>
<br/>
Windsor, Ontario, Canada - Jan 2004 through July 2011

<ul>
<li>Developed enterprise backup software ROBOBAK, including several hundred thousand lines of code.  Features include Deduplication, Journaling, Indexing, Archiving, etc.
</li>

<li>Developed backup software Vision Backup including over 130 thousand lines of code, and over 3000 copies sold.  Features include LAN backup, FTP backup, schedules, compression, email notifications, incremental backups, online software updates, and online software activation.
</li>

<li>Managed and developed several custom software projects.</li>

<li>Managed/Worked on/Maintained an "Encrypted Drive" application</li>

<li>Worked on a SPAM and PHISHING fighting project which is based on a TDI filter driver.</li>

<li>Developed COM SDKs for several different products that I created.</li>
</ul>
</li>

 
<li><strong>Army Simulation Centre: Linux Software Developer</strong>
<br/>
Kingston, Ontario, Canada - Aug 2002 through Aug 2003
 
<ul>

<li>Started during a Co-op term, also worked part time during school throughout 2003.</li>

<li>Created a briefcase program which synchronizes one or more remote directories</li>

<li>Created an application that integrates into their simulation software. It sniffs network packets and displays complex results (displayed on my custom built graphing Qt widget)</li>

<li>Created several other small utilities using C++, Qt and the File Alteration Monitor.</li>

<li>Documented the project and created an RPM as well as user guides.</li>
</ul>
</li>
 

<li><strong>ALT Software: Device Driver Developer</strong>
<br/>
Waterloo, Ontario, Canada - Aug 2003 through Dec 2004

<ul>
<li>Developed a device driver for a security video capture camera, debugged several other projects</li>
</ul>
</li>
 

<li>
<strong>Corel Corporation: Researcher and Software Developer</strong>
<br/>
Ottawa, Ontario, Canada - Aug 2001 through Aug 2002


<ul>
<li>Rewrote printing functionality in Paradox 10 as well as worked on SP1 & SP2 for Paradox 10</li>

<li>Worked on .NET related projects including performing XSLT transformation on SOAP documents</li>

<li>Created a generic web site update notification system, which is used company wide</li>

<li>Evaluated new technologies to see if they would fit in at Corel, came up with new company ideas</li>
</ul>
</li>

 

<li>Other software developer positions not included to save space.</li>

</ul>
</p>

          
<h2>Projects</h2>
<div class='bold-divider'></div>
<p>
<ul>

<li>
<strong>CodeFirefox:</strong>
Outlines the process of becoming a Mozilla contributor, from start to finish, with 2-10 minute videos and exercises.
</li>
<li>
<strong>Codecheck.JS:</strong>
Parses JavaScript code structure with acorn.js into an abstract syntax tree, then compares it against a set of assertions for use in online exercise frameworks.
</li>

<li>
<strong>Internet Library:</strong>
Sole developer of a massive C++ library coded from scratch which includes FTP, FTPS (FTP over SSL), SFTP (FTP over SSH), SMTP, SMTP SSL, POP3, HTTP/S clients (with support for cookies), HTTPS clients, HTTP/S server, FTP/S server.</li>

<li>
<strong>Vision Backup:</strong>
Over 130 thousand lines of C++ code, written from scratch which allows backups to several different media.  COM based plugin system.</li>

<li>
<strong>File Access Manager:</strong>
File System Filter Driver used for allowing access to exclusively opened and locked files.  Over 50 thousand outstanding licenses sold, several backup software companies license FAM.</li>

<li>
<strong>Cryptex:</strong>
Virtual Encrypted hard drive built as an NTFS driver.  Allows the user to lock files in the vault, they can be retrieved later by providing your password.</li>

<li>
<strong>Firefox Extensions:</strong>
Several Firefox extensions built using XUL, XBL, and Javascript.  Some experience with XPCOM.</li>

<li>
<strong>Virtual Disk Drive:</strong>
Allows you to work with any application off of a network hard drive, all operations are sent to an offsite IIS Extension.</li>

<li>
<strong>SPAM Filter:</strong>
TDI Filter which allows filtering network traffic.  Outlook &amp; Outlook express plugins created.</li>

<li>
<strong>Null Share:</strong>
Sole developer of an open source peer to peer application based on the Gnutella protocol.</li>

<li>
<strong>Pyroflow MSN:</strong>
Complete multi platform MSN Messenger implementation.</li>

<li>
<strong>Stego Flow:</strong>
Library to open, manipulate, extract info and save images, with steganography support</li>

<li>
<strong>Pyroflow Archiving:</strong>
An alternative to Unix's tar with built in compression</li>

<li>
<strong>Data Structures:</strong>
Several template based data structures, including Adaptive Huffman compression</li>

</ul>
</p>

 
<h2>Interests and Hobbies</h2>
<div class='bold-divider'></div>
<p>
<ul>
<li>Coding: Working on programming projects, learning new technologies</li>
<li>Reading: Reviewing O'Reilly and Manning books</li>
<li>Music: Piano &amp; guitar</li> 
<li>Exercise: Marathon runner, Black belt (Shodan) Karate Meibukan Goju Ryu</li>
</ul>
</p>

</ul>
</p>
