{% extends "base.html" %}

{% block title %} Contact {% endblock %}
{% block pagetitle %}Brian R. Bondy - Contact{% endblock %}
{% block subtitle %} Your feedback and comments are welcome {% endblock %}
{% block body_id %}body_contact{% endblock %}

{% block main_content %}


    <script>
      alert(window.hasOwnProperty('indexedDB'));
      alert(window.hasOwnProperty('msIndexedDB'));
      alert(window.indexedDB);
      alert(window.indexedDB);
      alert(window.msIndexedDB);
    </script>

{% endblock %}
