{% extends "other.html" %}
{% block title %} Other - University classes{% endblock %}
{% block pagetitle %}Brian R. Bondy - University classes{% endblock %}
{% block subtitle %}One source of learning{% endblock %}

{% block main_content %}

<h2>Classes I found most interesting</h2>
<div class='bold-divider'></div>
<p>
Listed below is a list of only the important courses that come to mind that I liked and have taken.</P>
</p>

<h2>Math courses</h2>
<div class='bold-divider'></div>
<p>
<UL>

<LI>
<A href="http://www.student.math.uwaterloo.ca/%7Eco485">CO485 The Mathematics of Public-Key Cryptography</A></LI>
<LI>
<A href="http://www.student.math.uwaterloo.ca/%7Epmath340">PMATH340 Elementary Number theory</A></LI>
<LI>
<A href="http://www.student.math.uwaterloo.ca/%7Estat230">STAT230 Probability</A></LI>
<LI>

<A href="http://www.student.cs.uwaterloo.ca/%7Eco350">CO350 Linear Optimization</A></LI>
<LI>
<A href="http://www.student.math.uwaterloo.ca/%7Emath239">MATH239 Introduction to Combinatorics</A></LI>
<LI>
<A href="http://www.student.math.uwaterloo.ca/%7Emath235">MATH235 Linear Algebra 2</A></LI>
<LI>
<A href="http://www.student.math.uwaterloo.ca/%7Emath138">MATH 138 Calculus 2</A></LI>

<LI>
<A href="http://www.student.math.uwaterloo.ca/%7Emath136">MATH136 Linear Algebra 1</A></LI>
<LI>
<A href="http://www.student.math.uwaterloo.ca/%7Emath135">MAT135 Algebra for Honours Mathematics</A></LI>
<LI>
<A href="http://www.student.math.uwaterloo.ca/%7Emath137">Math137 Calculus 1</A></LI></UL>
</p>

<h2>Computer Science courses</h2>
<div class='bold-divider'></div>

<p>
<UL>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs488">CS488 Computer Graphics</A></LI>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs486">CS486 Artificial Intelligence</A></LI>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs456">CS456 Computer Networks</A></LI>

<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs341">CS341 Algorithms</A></LI>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs354">CS354 Operating Systems</A></LI>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs360">CS360 Introduction to the Theory of Computing</A></LI>
<LI>

<A href="http://www.student.cs.uwaterloo.ca/%7Ecs342">CS342 Control Structures</A></LI>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs370">CS370 Numerical Computation</A></LI>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs240">CS240 Data Structures and Data Management</A></LI>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs251">CS251 Digital Design and Architecture</A></LI>

<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs246">CS246 Software Abstraction and Specification</A></LI>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs241">CS241 Foundations of Sequential Programs</A></LI>
<LI>
<A href="http://www.student.cs.uwaterloo.ca/%7Ecs134">CS134 Principles of Computer Science 1</A></LI></UL>
</p>

<h2>Physics courses</h2>
<div class='bold-divider'></div>
<p>

<UL>
  <LI>PHYS121 Mechanics, Wave Motion and Heat 1</LI>
  <LI>SCI238 Introduction to Astronomy</LI>
</UL>
</p>

{% endblock %}
